BOT_TOKEN=7xxxxxxxxx:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_ID=50949302
MINIAPP_URL=https://your-domain.com

# Tailscale API токены
TS1_TOKEN=tskey-api-ktBh42VtRj11CNTRL-RBTDhNJYzdNNqr7wNTfLdNC6PncxBk63B
TS1_TAILNET=vas.neverov@gmail.com

TS2_TOKEN=tskey-api-kW1ujQ5i2w11CNTRL-wRvm7o2eCkiEfK7M1fhhjiq763ztrBsx
TS2_TAILNET=ne78va@gmail.com

TS3_TOKEN=tskey-api-ke7vjPmovc11CNTRL-sn532g8REiMxzR92SQL4iM2Dvnpn3CWH
TS3_TAILNET=56papezde@gmail.com
